.container-button {
    position: fixed;
    bottom: 3.5rem;
    padding-left: 92%;
}


.button {
   width: 80px;
   height: 80px; 
   border-radius: 50%;
   background-color: rgba(255, 255, 255, 0.507);
   cursor: pointer;
   outline: none;
   border: 2px solid rgba(0, 0, 0, 0.514);
}

