* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
  /* background: linear-gradient(180deg, #FFFFFF 13%, #E9EBF2 33.33%, #C5CADC 66.67%, #7C88B0 100%); */
}

html {
  scroll-behavior: smooth;
}
  
